@import url("https://fonts.googleapis.com/css?family=Lobster");

.App {
  text-align: center;
}

/* HEADER */

header {
  padding: 15px 30px;
  color: gray;
  /* https://www.toptal.com/designers/subtlepatterns/stripes-light/ */
  background: url(../images/stripes-light.png) lightgray;
  border-bottom: 1px solid lightgray;
}

header h1 {
  margin-right: auto;
  font: normal 1.8em "Lobster", cursive;
  color: #941f1f;
}

.menuBtn {
  margin: 0 0 0 4px;
  color: #fff;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: gray;
  border: 2px solid lightgray;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
}

@media screen and (min-width: 598px) {
  header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  header h1 {
    font-size: 2.8em;
  }

  .menuBtn {
    font-size: 0.9em;
  }
}

/* ADD MARKET FORM */

.add-market {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 30px;
}

.add-market label {
  font-size: 13px;
  font-weight: 600;
  align-self: flex-start;
}

.add-market__btn-container {
  display: flex;
  align-self: flex-end;
  margin: 8px 0 0;
}

.btn-secondary {
  background-color: white;
  padding: 8px;
  border: 2px solid lightgray;
  border-radius: 5px;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: gray;
  cursor: pointer;
}

.btn--delete {
  background-color: gray;
  border: none;
  border-radius: 0;
  border-left: 2px solid white;
}

input[type="text"] {
  width: 100%;
  margin: 5px 5px 15px 5px;
  padding: 8px 2px;
  color: black;
}

@media screen and (min-width: 769px) {
  .add-market {
    flex-direction: row;
  }

  .add-market label {
    align-self: center;
  }

  .add-market__btn-container {
    margin: 0;
  }

  input[type="text"] {
    margin: 0 5px;
  }
}

/* LOCATION SECTION */

.location-section {
  background-color: gray;
  position: relative;
  right: 0;
  width: 100%;
  z-index: 99999999;
}

.location-section .input-search {
  padding: 12px 10px;
  margin: 0;
}

.location-section div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.location-section li {
  flex: 1 1 100%;
  padding: 12px;
  font-size: 0.9em;
  text-align: left;
  color: white;
  cursor: pointer;
}

.location-section li:hover {
  background-color: #941f1f;
}

.location-section button {
  cursor: pointer;
}

@media screen and (min-width: 769px) {
  .location-section {
    position: absolute;
    width: 300px;
    height: 100%;
  }
}

/* INFOWINDOW */

.infowindow-container {
  padding-top: 10px;
}

.infowindow-container > * {
  padding-bottom: 5px;
}

.infowindow-container img {
  width: 50%;
}

.infowindow-container :last-child {
  padding-bottom: 0;
}
