@import url('https://fonts.googleapis.com/css?family=Lobster');

.App {
  text-align: center;
}

/* HEADER */

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
  padding: 15px 30px;
  color: gray;
	/* https://www.toptal.com/designers/subtlepatterns/stripes-light/ */
  background: url(../images/stripes-light.png) lightgray;
  border-bottom: 1px solid lightgray;
}

header h1 {
	font: normal 1.8em 'Lobster', cursive;
  color: #941F1F;
}

header .menuBtn {
	color: #fff;
	font-size: 0.9em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: gray;
	border: 2px solid lightgray;
	border-radius: 5px;
	padding: 8px;
	cursor: pointer;
}

@media screen and (min-width: 477px) {
	header h1 {
		font-size: 2.8em;
	}

	header .menuBtn {
		font-size: 1em;
	}
}

/* LOCATION SECTION */

.location-section {
	background-color: gray;
	position: fixed;
	right: 0;
	width: 100%;
	z-index: 99999999;
}

.location-section input {
	width: 100%;
	padding: 12px 10px;
	color: gray;
}

.location-section li {
	color: white;
	font-size: 0.9em;
	padding: 12px 0;
	border-bottom: 1px solid white;
	cursor: pointer;
}

.location-section li:hover {
	background-color: #941F1F;
}

@media screen and (min-width: 769px) {
	.location-section {
		width: 300px;
	}
}